# Data Science Tools and Ecosystem

#### Author: Joanne Ho

## In this notebook, Data Science Tools and Ecosystem are summarized.

#### __Objectives__ 
- List the popular DS languages
- List the commonly used DS libraries
- List the commonly use DS tools
- Using python evaluate arithmetic expressions

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

### Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. scipy
3. scikit_learn

Data Science Tools |
-----------|
Notebook |
R |
R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

#### This is a simple arithemtic expression to multiply then add integers

In [16]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [19]:
hour=200/60
print(hour)

3.3333333333333335